<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcom to profile page of <%= person %></h1>
    <p>Aceasta este pagina de web a lui <%= person %></p>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>
  </body>
</html>
